@font-face {
  font-family: "Avenir";
  src: url(/fonts/Avenir/Avenir\ Regular.ttf) format("truetype");
}
@font-face {
  font-family: "WhiteFlower";
  src: url(/fonts/WhiteFlower/WhiteFlower.otf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #F8F6F4;
}
header nav .navbar {
  padding: 1rem;
  transition: padding 1.5s ease;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar li {
  width: 100%;
  text-align: center;
}
header nav .navbar li a {
  text-decoration: none;
  padding: 0 1rem;
}
header nav .navbar li a p {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}
header nav .navbar li a p:not(.classes) {
  border-right: 1px #725A58 solid;
}
header nav .navbar li a p, header nav .navbar li a i {
  font-size: 20px;
  color: #725A58;
}
header nav .logo img {
  width: 100%;
  transition: width 1.5s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #F8F6F4;
  display: none;
  transition: display 2s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}
.sidebar li {
  width: 100%;
}
.sidebar li:hover {
  background-color: #E3B6B1;
  transition: background-color 0.5s ease;
}
.sidebar li a {
  text-decoration: none;
  padding: 0 1rem;
  width: 100%;
}
.sidebar li a p {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}
.sidebar li a p, .sidebar li a i {
  font-size: 20px;
  color: #725A58;
}

.smallNavBar {
  padding: 0.5rem 1rem;
  transition: padding 1.5s ease;
}
.smallNavBar .logo img {
  width: 40%;
  transition: width 1.5s ease;
}

.showonMobile, .opentagSB {
  display: none;
}

.all-classes {
  display: flex;
  margin: 1rem auto;
  margin-left: 4rem;
  align-items: center;
}
.all-classes img {
  height: 13px;
  margin-right: 1rem;
  cursor: pointer;
}
.all-classes p {
  font-size: 18px;
  cursor: pointer;
}

.font1 {
  color: #A06D67;
  font-family: "Baskerville", serif;
  font-weight: 100;
  font-style: normal;
}

.h1 {
  font-size: 70px;
  color: #725A58;
  letter-spacing: 5px;
  text-align: center;
  margin: 2rem auto;
}

.h3 {
  font-size: 28px;
  margin: 2rem 0;
}

.h4 {
  font-size: 22px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.first {
  margin-top: 0;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.list {
  margin: 0.5rem 0;
  padding-left: 2rem;
}
.list li {
  margin: 0.3rem 0;
}

.information {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding: 5rem 0;
  background-color: #FAE9E7;
}
.information .img-info {
  margin: 0 2rem;
  border: 1px solid #B99692;
  height: 50%;
}
.information .img-info .main-img {
  width: 100%;
  min-width: 250px;
}
.information .sum-info {
  margin: 2rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
.information .sum-info .icon {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.information .sum-info .icon img {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
}
.information .sum-info .tools {
  margin-bottom: 4rem;
}
.information .sum-info .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #B99692;
  margin-top: 3rem;
}
.information .sum-info .button .join-button {
  justify-content: center;
  font-size: 18px;
  margin: 1rem 0;
}
.information .sum-info .button:hover {
  background-color: #B99692;
  cursor: pointer;
}
.information .sum-info .button:hover a {
  color: white;
}
.information .full-info {
  width: 40%;
}
.information .full-info .button {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #B99692;
  margin-top: 3rem;
}
.information .full-info .button .join-button {
  justify-content: center;
  font-size: 18px;
  margin: 1rem 0;
}
.information .full-info .button:hover {
  background-color: #B99692;
  cursor: pointer;
}
.information .full-info .button:hover a {
  color: white;
}

@media only screen and (max-width: 768px) {
  .information {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }
  .information .full-info {
    width: 100%;
    text-align: justify;
    padding: 2rem 1rem;
  }
  .information .full-info .button {
    display: flex;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    display: none;
  }
  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .information .img-info {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
  .information .full-info {
    padding: 4rem 1rem;
    width: 100%;
    text-align: justify;
    background-color: #FAE9E7;
  }
  .information .full-info .button {
    display: flex;
  }
}
.IconsContainer {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: auto;
  padding-top: 15px;
}
.IconsContainer .footerParagraph {
  font-size: 14px;
  margin: 3px 0;
}
.IconsContainer .ContactIcons {
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.FooterNavContainer {
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .FooterNavContainer {
    width: 95%;
  }
  .FooterNavContainer .FooterNavList {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 601px) {
  .FooterNavContainer {
    width: 80%;
  }
  .FooterNavContainer .FooterNavList {
    display: flex;
    justify-content: space-around;
  }
}
.FooterNavContainer .FooterNav {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
.FooterNavContainer .FooterNav .FooterNavList {
  list-style: none;
  font-size: 20px;
  padding: 15px 0;
}
.FooterNavContainer .FooterNav .FooterNavList .FooterNavListStyle1 {
  font-family: "Baskervville SC", serif;
  text-decoration: none;
  color: black;
}
.FooterNavContainer .FooterNav .FooterNavList .FooterNavListStyle2 {
  color: black;
}

.Copyright {
  text-align: center;
  margin: 25px 0 40px 0;
}

@media only screen and (max-width: 800px) {
  .showonMobile, .opentagSB {
    display: block;
  }
  .hideonMobile {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}/*# sourceMappingURL=masterclass.css.map */