@font-face {
    font-family: "Avenir";
    src: url(../fonts/Avenir/Avenir\ Regular.ttf) format("truetype");
}

@font-face {
    font-family: "WhiteFlower";
    src: url(../fonts/WhiteFlower/WhiteFlower.otf) format("opentype");
}
  
//*****************************colors**********************************//
//MAIN
$brand: #191919;
$boldmain: #725a58;
$accent: #e3b6b1;
//LIGHT NEUTRAL
$lightpink: #fae9e7;
$palewhite: #f8f6f4;
$paperwhite: #fbfafa;
//DARK NEUTRAL
$midgrey: #a3a3a3;
$darkgrey: #535353;
$black: #191919;
//COMPLEMENTARY
$darkpink: #b99692;
$brown: #a06d67;
  
//***************************font-sizes********************************//
$h1: 80px;
$h2: 68px;
$h3: 48px;
$h4: 36px;
$h5: 32px;
$h6: 24px;
$button: 20px;
$button_sm: 18px;
$body: 18px;
$body_sm: 16px;
$caption: 14px;
$signature: 54px;
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: $palewhite;
    z-index: 990;

    nav {
        .navbar {
            padding: 1rem;
            transition: padding 1.5s ease;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                width: 100%;
                text-align: center;

                a {
                    text-decoration: none;
                    padding: 0 1rem;

                    p {
                        font-family: "Baskervville", serif;
                        font-weight: 400;
                        font-style: normal;

                        &:not(.classes) {
                            border-right: 1px $boldmain solid;
                        }
                    }

                    p,
                    i {
                        font-size: $button;
                        color: $boldmain;
                    }
                }
            }
        }

        .logo {
            // border: 1px red solid;
            // background-image: url(../resources/landing/CarlaBeautyLogo.svg);
            // background-size: cover;
            // background-repeat: no-repeat;
            // width: 100%;
            // max-width: 100%;
            max-inline-size: 100%;
            block-size: auto;
            background-position: center;
            height: 150px;
            transition: height .5s ease;
        }
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: $palewhite;
    display: none;
    transition: display 2s ease-in-out;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;

    li {
        width: 100%;

        &:hover {
            background-color: $accent;
            transition: background-color 0.5s ease;
        }

        a {
            text-decoration: none;
            padding: 0 1rem;
            width: 100%;

            p {
                font-family: "Baskervville", serif;
                font-weight: 400;
                font-style: normal;
            }

            p,
            i {
                font-size: $button;
                color: $boldmain;
            }
        }
    }
}

.smallNavBar {
    padding: 0.5rem 1rem;
    transition: padding 1.5s ease;

    .logo {
        // background-image: url(../resources/landing/ShrinkedLogo_Navbar.svg);
        height: 80px;
        transition: height 1.5s ease;
        background-size: contain;

        img {
            height: 80px;
        }

    }
}

.showonMobile,
.opentagSB {
    display: none;
}
  
// START BEAUTY TIPS MAIN SECTION
  
h1 {
  color: $brown;
  font-family: "Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 8px;
}

.body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

hr {
  height: 1px;
  border: 1px solid $accent;
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 2rem;

}

.button {
    margin-top: 4rem;

    a {
      text-decoration: none;
      font-size: 18px;
      color: #5e4a49;
      padding: 1.5rem 2.5rem;
      border: 1px solid #5e4a49;
    }

    a:hover {
      background-color: $darkpink;
      border: 1px solid $darkpink;
      color: white;
      cursor: pointer;
    }
}

.beauty-tips-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // min-width: 480px;
    margin: 4rem 0 8rem 0;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        text-align: center;
    }

}

.videos-container {
    margin: 4rem 0;
    padding-bottom: 6rem;
    background-color: $lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // min-width: 480px;

    .filter {
        margin: 4rem 0 2rem 0;
        display: flex;
        flex-direction: row;
        gap: 30px;

        p {
            font-size: 22px;
            cursor: pointer;
        }

        .blur {
            opacity: 0.3;
        }
    }

    .videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        width: 80%;

        img:hover {
            cursor: pointer;
            transform: scale(105%);
            transition: transform 0.2s ease-in-out;
        }
    }
}
  
// END CLASSES BODY
  
.display_none {
  display: none !important;
}
  
//FOOTER
.IconsContainer {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: auto;
  padding-top: 15px;
  .footerParagraph {
    font-size: 14px;
    margin: 3px 0;
  }
  .ContactIcons {
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
  
@mixin FooterNavContainer() {
  @media only screen and (max-width: 600px) {
    width: 95%;
    .FooterNavList {
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  @media only screen and (min-width: 601px) {
    width: 80%;
    .FooterNavList {
      display: flex;
      justify-content: space-around;
    }
  }
}
  
.FooterNavContainer {
  @include FooterNavContainer();
  margin: auto;
  .FooterNav {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    .FooterNavList {
      list-style: none;
      //            display: flex;
      //            justify-content: space-around;
      font-size: 20px;
      padding: 15px 0;
      .FooterNavListStyle1 {
        font-family: "Baskervville SC", serif;
        text-decoration: none;
        color: black;
      }
      .FooterNavListStyle2 {
        color: black;
      }
    }
  }
}
  
.Copyright {
  text-align: center;
  margin: 25px 0 40px 0;
}
  
//Tablet
@media only screen and (max-width: 800px) {
  .showonMobile,
  .opentagSB {
    display: block;
  }
  .hideonMobile {
    display: none;
  }
}
  
//Mobile
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
  
//GOOGLE FONTS -BASKERVVILE-
.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}
 