*, *::before , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.form-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-bottom: 4rem;

    // font family, size and color for h1
    h1 {
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        letter-spacing: 5px;
        color: #5E4A49;
    }

    // font family, size and color for h5
    h5 {
        font-family: "Libre Baskerville", serif;
        font-weight: 100;
        font-style: normal;
        font-size: 28px;
    }

    // font family, size and color for button text
    .hbutton {
        color: #5E4A49;
        font-family: "Libre Baskerville", serif;
        font-weight: 100;
        font-style: normal;
        font-size: 14px;
    }

    .text-body {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
    }

    .contact-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem auto;
        width: 40%;

        h1 {
            margin-bottom: 1rem;
            text-align: center;
        } 

        p {
            text-align: center;
            padding: 0 3rem;
        }
        
    }

    .form-services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        background-color: #FAE9E7;
        width: 50%;

        .form-header {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 2rem;
            cursor: pointer;

            .header-opt {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 0.5rem 2rem;
                border-bottom: 1px solid black;
            }

            .blur {
                color: gray;
                border-bottom: 0.5px solid gray;
            }
        }

        .form-option-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            
            .form-event-options{
                width: 100%;
                margin-bottom: 2rem;

                .header-type {
                    margin-bottom: 1rem;
                }
                
                .event-opts {
                    max-width: 100%;
                    min-width: 70%;
                    display: flex;
                    justify-content: space-between;

                    .eve-options {
                        width: 32%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: white; 
                        padding: 8px;
                        cursor: pointer;

                        .select {
                            visibility: visible;
                        }

                        .hide {
                            visibility: hidden;
                        }
                    }
                }

            }

            .form-date-time-options {
                width: 100%;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .fr {
                    width: 46%;
                    display: flex;
                    flex-direction: column;
                    
                    .input-event {
                        padding: 8px;
                        cursor: pointer;
                        margin-bottom: 0.5rem;
                    }

                    .input-event:focus {
                        outline: none;
                    }

                    .checked {
                        display: flex;
                        align-items: center;


                        .check-event {
                            cursor: pointer;
                            width: 20px;
                            height: 20px; 
                            padding: 5px;
                            accent-color: #B99692;
                        }

                        label {
                            padding-left: 5px;
                        }
                    }
                }
                
                .hdr {
                    margin-bottom: 1rem;
                }

            }

            .contact-form {
                width: 100%;
                display: flex;
                flex-direction: column;

                .contact-form-name {
                    margin-bottom: 1rem;
                }

                .input-name {
                    padding: 8px;
                    margin-bottom: 2rem;
                    border: 1px solid #B99692;
                }

                .input-name:focus {
                    outline: none;
                }

                .contact-header {
                    margin-bottom: 1rem;
                }

                .phone-opt {
                    display: block;
                    margin: 0.5rem 0;

                    .hide {
                        display: none;
                    }
                }

                .contact-form-phone {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 2rem;

                    .label-opt {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .input-color {
                            accent-color: #B99692;
                        }
                    }

                    .inpt {
                        width: 100%;
                        padding: 8px;
                        margin-top: 0.5rem;
                        border: 1px solid #B99692;
                        
                    }

                    .inpt:focus {
                        outline: none;
                    }
                }

            }

            .button-next {
                padding: 20px 40px;
                width: 160px;
                background-color: transparent;
                border: 0.5px solid #5E4A49;
                cursor: pointer;
            }
    
        }


    }

    





}
