@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir/AvenirRegular.ttf) format('truetype');
}
@font-face {
  font-family: "Whiteflower";
  src: url(../fonts/WhiteFlower/WhiteFlower.otf) format('opentype');
}
@font-face {
  font-family: "Magenta";
  src: url(../fonts/magenta-2/MagentaDemo.ttf) format('truetype');
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
//*****************************colors**********************************//
//MAIN
$brand: #191919;
$boldmain: #725a58;
$accent: #e3b6b1;
//LIGHT NEUTRAL
$lightpink: #fae9e7;
$palewhite: #f8f6f4;
$paperwhite: #fbfafa;
//DARK NEUTRAL
$midgrey: #a3a3a3;
$darkgrey: #535353;
$black: #191919;
//COMPLEMENTARY
$darkpink: #b99692;
$brown: #a06d67;

//***************************font-sizes********************************//
$h1: 80px;
$h2: 68px;
$h3: 48px;
$h4: 36px;
$h5: 32px;
$h6: 24px;
$button: 20px;
$button_sm: 18px;
$body: 18px;
$body_sm: 16px;
$caption: 14px;
$signature: 54px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
}

body{
  // overflow-x: hidden;
  background-color: $palewhite;
}

//**********************************************BEGIN NAVBAR**************************************************************************//
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: $palewhite;
  z-index: 990;
  nav {
    .navbar {
      padding: 1rem;
      transition: padding 1.5s ease;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        width: 100%;
        text-align: center;
        a {
          text-decoration: none;
          padding: 0 1rem;
          p {
            font-family: "Baskervville", serif;
            font-weight: 400;
            font-style: normal;
            &:not(.classes) {
              border-right: 1px $boldmain solid;
            }
          }
          p,
          i {
            font-size: $button;
            color: $boldmain;
          }
        }
      }
    }
    .logo {
      // border: 1px red solid;
      // background-image: url(../resources/landing/CarlaBeautyLogo.svg);
      // background-size: cover;
      // background-repeat: no-repeat;
      // width: 100%;
      // max-width: 100%;
      max-inline-size: 100%;
      block-size: auto;
      background-position: center;
      height: 150px;
      transition: height .5s ease;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: $palewhite;
  display: none;
  transition: display 2s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  li {
    width: 100%;
    &:hover {
      background-color: $accent;
      transition: background-color 0.5s ease;
    }
    a {
      text-decoration: none;
      padding: 0 1rem;
      width: 100%;
      p {
        font-family: "Baskervville", serif;
        font-weight: 400;
        font-style: normal;
      }
      p,
      i {
        font-size: $button;
        color: $boldmain;
      }
    }
  }
}

.smallNavBar {
  padding: 0.5rem 1rem;
  transition: padding 1.5s ease;
  .logo {
    // background-image: url(../resources/landing/ShrinkedLogo_Navbar.svg);
    height: 80px;
    transition: height 1.5s ease;
    background-size: contain;
    img{
      height: 80px;
    }

  }
}

.showonMobile,
.opentagSB {
  display: none;
}

//**********************************************END NAVBAR**************************************************************************//

main{
  h1 {
    color: $boldmain;
    font-family: "Baskerville", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 80px;
    letter-spacing: 8px;
  }
  h5 {
    font-size: $h5;
    color: $boldmain;
    font-family: "Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5px;
  }
  .CostInfo{
    font-family: "Avenir", serif;
    font-weight: 300;
    font-style: normal;
    font-size: $body_sm;
    color: $black;
    padding-left: 5px;
  }
  .Subtitle{
    font-family: "Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    font-size: $body;
    color: $black;
    margin-top: 3px;
  }
  .CommonText{
    font-family: "Avenir", serif;
    font-weight: 300;
    font-style: normal;
    font-size: $caption;
    color: $black;
    margin-top: 3px;
  }
  .S_title{
    .pContainer{
      width: 300px;
      margin: auto;
      margin-bottom: 30px; 
    }
    text-align: center;
    .ForUnderbar{
      width: 200px;
      border-top: #e3b6b1 solid 1px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
  .S_Outer{
    width: 100%;
    min-height: 70vh;
    background-color: $lightpink;
    margin-bottom: 1rem;
    padding: 2rem 0;
    .S_Container{
      width: 750px;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 
      "Pic1 Text1"
      "Pic2 Text2"
      "Pic3 Text3";
      margin: 5rem auto;
      column-gap: 30px;
      row-gap: 4rem;
      .Cost{
        display: flex;
        align-items: center;    
      }
      #Lady1{
        grid-area: Pic1;
        max-width: 240px;
      }
      #Lady2{
        grid-area: Pic2;
        max-width: 240px;
      }
      #Lady3{
        grid-area: Pic3;
        max-width: 240px;
      }
      button{
        grid-area: A-button;
        padding: 10px 0px;
        width: 160px;
        height: 50px;
        background-color: transparent;
        border: 0.5px solid $midgrey;
        cursor: pointer;
        color: $darkgrey;
        font-family: "Baskervville", serif;
        font-size: $button;
        align-self: center;
        margin-top: 10px;
        &:hover {
          background-color: $darkpink;
          border: 1px solid $darkpink;
          color: $palewhite;
        }
      }
  
    }
  }
}


//**********************************************BEGIN FOOTER**************************************************************************//
.IconsContainer {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: auto;
  padding-top: 15px;
  .footerParagraph {
    font-size: 14px;
    margin: 3px 0;
  }
  .ContactIcons {
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@mixin FooterNavContainer() {
  //MOBILE 
}

.FooterNavContainer {
  @include FooterNavContainer();
  width: 80%;
  margin: auto; 
  .FooterNav {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    .FooterNavList {
      list-style: none;
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      padding: 15px 0;
      .FooterNavListStyle1 {
        font-family: "Baskervville", serif;
        text-decoration: none;
        color: $boldmain;
      }
      .FooterNavListStyle2 {
        font-family: "Baskervville", serif;
        text-decoration: none;
        color: $boldmain;
      }
    }
  }
}

.Copyright {
  text-align: center;
  margin: 25px 0 40px 0;
}
//**********************************************END FOOTER**************************************************************************//

//***************MEDIA QUERIES***************************//
//Tablet
@media only screen and (max-width: 768px) {
  //NAVBAR
  .showonMobile,
  .opentagSB {
    display: block;
  }
  .hideonMobile {
    display: none;
  }

 //Servce
main{
  h1 {
    color: $boldmain;
    font-family: "Baskerville", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 80px;
    letter-spacing: 8px;
  }
  h5 {
    font-size: $h5;
    color: $boldmain;
    font-family: "Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5px;
  }
  .CostInfo{
    font-family: "Avenir", serif;
    font-weight: 300;
    font-style: normal;
    font-size: $body_sm;
    color: $black;
  }
  .Subtitle{
    font-family: "Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    font-size: $body;
    color: $black;
    margin-top: 3px;
  }
  .CommonText{
    font-family: "Avenir", serif;
    font-weight: 300;
    font-style: normal;
    font-size: $caption;
    color: $black;
    margin-top: 3px;
  }
  .InlineBlock{
    display: inline-block;
  }
  .S_Outer{
    .S_Container{
      width: 70% !important;
      grid-template-columns: 1fr !important;
      grid-template-areas: 
      "Pic1"
      "Text1"
      "Pic2"
      "Text2"
      "Pic3"
      "Text3" !important;
      margin: 5rem auto;
      gap: 30px;
      #Lady1{
        justify-self: center;
      }
      #Lady2{
        justify-self: center;
      }
      #Lady3{
        justify-self: center;
      }
      button{
        grid-area: A-button;
        width: 100% !important;
        margin-top: 2rem;
        margin-bottom: 3rem;
      }
  
    }
  }
}


  //Footer
  .FooterNavContainer {
    width: 80% !important;
    .FooterNavList {
      height: 150px !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      flex-wrap: wrap !important;
    }
  }

  
}

//Mobile
@media only screen and (max-width: 480px) {
  //NAVBAR
  .sidebar {
    width: 100%;
  }

  //Service
  main{
    h1 {
      font-size: $h3;
    }
    h5 {
      font-size: $h5;
      color: $brown;
      font-family: "Baskerville", serif;
      font-weight: 700;
      font-style: normal;
      margin-bottom: 5px;
      margin-left: 1rem !important;
    }
    .CostInfo{
      font-family: "Avenir", serif;
      font-weight: 300;
      font-style: normal;
      font-size: $caption !important;
      color: $black;
    }
    .Subtitle{
      font-family: "Baskerville", serif;
      font-weight: 700;
      font-style: normal;
      font-size: $body;
      color: $black;
      margin: 0 1rem !important;
      margin-bottom: 0.5rem !important;
    }
    .CommonText{
      font-family: "Avenir", serif;
      font-weight: 300;
      font-style: normal;
      font-size: $caption;
      color: $black;
      margin-top: 3px;
      margin: 0 1rem !important;
      margin-bottom: 1rem !important;
    }
    .InlineBlock{
      display: inline-block;
    }
    .S_title{
      .pContainer{
        width: 100% !important;
        margin: auto;
        margin-bottom: 30px; 
      }
      text-align: center;
      .ForUnderbar{
        width: 200px;
        border-top: #e3b6b1 solid 1px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
    .Cost{
      margin-left: 1rem !important;
      margin-bottom: 0.5rem !important;
    }
    .S_Outer{
      width: 100%;
      min-height: 70vh;
      margin-bottom: 1rem;
      padding-bottom: 2rem;
      .S_Container{
        width: 100% !important;
        height: auto;
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-areas: 
        "Pic1"
        "Text1"
        "Pic2"
        "Text2"
        "Pic3"
        "Text3" !important;
        margin: 0 !important;
        column-gap: 0 !important;
        row-gap: 2rem !important;
        #Lady1{
          grid-area: Pic1;
          min-width: 100% !important;
        }
        #Lady2{
          grid-area: Pic2;
          min-width: 100% !important;
        }
        #Lady3{
          grid-area: Pic3;
          min-width: 100% !important;
        }
        button{
          grid-area: A-button;
          display: block;
          padding: 10px 0px;
          width: 95% !important;
          height: 50px;
          background-color: transparent;
          border: 0.5px solid $midgrey;
          cursor: pointer;
          color: $darkgrey;
          font-family: "Baskervville", serif;
          font-size: $button;
          align-self: center;
          margin-top: 10px !important;
          margin: auto !important;
          &:hover {
            background-color: $darkpink;
            border: 1px solid $darkpink;
            color: $palewhite;
          }
        }
    
      }
    }
  }
  
  
  //Footer
  .FooterNavContainer {
    width: 100% !important;
    .FooterNavList {
      height: 150px !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      flex-wrap: wrap !important;
    }
  }
}

//GOOGLE FONTS -BASKERVVILE-
.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}
