@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir/Avenir\ Regular.ttf) format("truetype");
}
@font-face {
  font-family: "WhiteFlower";
  src: url(../fonts/WhiteFlower/WhiteFlower.otf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #f8f6f4;
}
header nav .navbar {
  padding: 1rem;
  transition: padding 1.5s ease;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar li {
  width: 100%;
  text-align: center;
}
header nav .navbar li a {
  text-decoration: none;
  padding: 0 1rem;
}
header nav .navbar li a p {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}
header nav .navbar li a p:not(.classes) {
  border-right: 1px #725a58 solid;
}
header nav .navbar li a p,
header nav .navbar li a i {
  font-size: 20px;
  color: #725a58;
}
header nav .logo img {
  width: 100%;
  transition: width 1.5s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #f8f6f4;
  display: none;
  transition: display 2s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}
.sidebar li {
  width: 100%;
}
.sidebar li:hover {
  background-color: #e3b6b1;
  transition: background-color 0.5s ease;
}
.sidebar li a {
  text-decoration: none;
  padding: 0 1rem;
  width: 100%;
}
.sidebar li a p {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}
.sidebar li a p,
.sidebar li a i {
  font-size: 20px;
  color: #725a58;
}

.smallNavBar {
  padding: 0.5rem 1rem;
  transition: padding 1.5s ease;
}
.smallNavBar .logo img {
  width: 40%;
  transition: width 1.5s ease;
}

.showonMobile,
.opentagSB {
  display: none;
}

.allClassesbtn {
  display: flex;
  padding-top: 1rem;
}
.allClassesbtn a {
  padding: 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #725a58;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

h1 {
  color: #725a58;
  font-family: "Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 8px;
}
@media only screen and (max-width: 768px) {
  h1 {
    display: none;
  }
}

.display_none {
  display: none !important;
}

.classes-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.classes-full .classes-welcome {
  margin-top: 1.5rem;
  min-width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .classes-full .classes-welcome {
    width: 100%;
    margin-top: 0;
  }
}
.classes-full .classes-info-container {
  background-color: #fae9e7;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.classes-full .classes-info-container .classes-info {
  margin: 3rem 0;
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .classes-full .classes-info-container .classes-info {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .classes-full .classes-info-container .classes-info {
    width: 80%;
  }
}
.classes-full .classes-info-container .classes-info .detail {
  display: flex;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 768px) {
  .classes-full .classes-info-container .classes-info .detail {
    display: flex;
    flex-direction: column;
  }
}
.classes-full .classes-info-container .classes-info .detail .container_image_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
  margin-right: 1rem;
  border: 1px solid black;
  height: fit-content;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .classes-full .classes-info-container .classes-info .detail .container_image_info {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
    width: 100%;
    border: none;
  }
}
.classes-full .classes-info-container .classes-info .detail .container_image_info .master_class_price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-bottom: 3rem;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .classes-full .classes-info-container .classes-info .detail .container_image_info .master_class_price {
    width: 100%;
    background-color: white;
    padding-top: 0;
  }
}
.classes-full .classes-info-container .classes-info .detail .container_image_info .master_class_price .price-time-target {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.classes-full .classes-info-container .classes-info .detail .container_image_info .master_class_price .price-time-target .icon {
  display: flex;
  padding: 0.5rem;
}
.classes-full .classes-info-container .classes-info .detail .container_image_info .master_class_price .price-time-target .icon img {
  width: 15px;
  margin-right: 0.5rem;
}
.classes-full .classes-info-container .classes-info .detail .container_image_info .master_class_price .price-time-target .icon .body {
  margin-right: 0.8rem;
}
.classes-full .classes-info-container .classes-info .detail .information {
  padding-left: 2rem;
}
@media only screen and (max-width: 768px) {
  .classes-full .classes-info-container .classes-info .detail .information {
    padding-top: 2.5rem;
  }
}
.classes-full .classes-info-container .classes-info .detail .information .body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
}
.classes-full .classes-info-container .classes-info .detail .information .info-header {
  font-size: 36px;
  color: #725a58;
  margin-bottom: 2rem;
  font-weight: 400;
}
.classes-full .classes-info-container .classes-info .detail .information .overview {
  margin-bottom: 2rem;
}
.classes-full .classes-info-container .classes-info .detail .information .overview .who-header {
  margin-bottom: 0.8rem;
  font-size: 20px !important;
}
.classes-full .classes-info-container .classes-info .detail .information .curriculum {
  margin-bottom: 2rem;
}
.classes-full .classes-info-container .classes-info .detail .information .curriculum .curri-header {
  margin-bottom: 1rem;
  font-size: 24px !important;
}
.classes-full .classes-info-container .classes-info .detail .information .curriculum li {
  margin: 0.5rem 0;
  margin-left: 2rem;
}
.classes-full .classes-info-container .classes-info .detail .information .button {
  margin-top: 4rem;
  width: 100%;
  text-align: center;
}
.classes-full .classes-info-container .classes-info .detail .information .button .button_join {
  width: 100%;
  padding: 1.5rem 2.5rem;
  border: 1px solid #725a58;
  background-color: transparent;
  color: #725a58;
  font-size: 20px;
  font-family: "Baskervville", serif;
  font-weight: 400;
}
.classes-full .classes-info-container .classes-info .detail .information .button .button_join:hover {
  background-color: #b99692;
  border: 1px solid #b99692;
  cursor: pointer;
  color: white;
}
.classes-full .classes-info-container .classes-info .detail .information .button a {
  text-decoration: none;
}
.classes-full .classes-info-container .classes-info .detail .information #join_classes_btn {
  display: none;
}
@media only screen and (max-width: 768px) {
  .classes-full .classes-info-container .classes-info .detail .information #join_classes_btn {
    display: flex;
    justify-content: center;
  }
}

.display_none {
  display: none !important;
}

.IconsContainer {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: auto;
  padding-top: 15px;
}
.IconsContainer .footerParagraph {
  font-size: 14px;
  margin: 3px 0;
}
.IconsContainer .ContactIcons {
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.FooterNavContainer {
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .FooterNavContainer {
    width: 95%;
  }
  .FooterNavContainer .FooterNavList {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 601px) {
  .FooterNavContainer {
    width: 80%;
  }
  .FooterNavContainer .FooterNavList {
    display: flex;
    justify-content: space-around;
  }
}
.FooterNavContainer .FooterNav {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
.FooterNavContainer .FooterNav .FooterNavList {
  list-style: none;
  font-size: 20px;
  padding: 15px 0;
}
.FooterNavContainer .FooterNav .FooterNavList .FooterNavListStyle1 {
  font-family: "Baskervville SC", serif;
  text-decoration: none;
  color: black;
}
.FooterNavContainer .FooterNav .FooterNavList .FooterNavListStyle2 {
  color: black;
}

.Copyright {
  text-align: center;
  margin: 25px 0 40px 0;
}

@media only screen and (max-width: 800px) {
  .showonMobile,
  .opentagSB {
    display: block;
  }
  .hideonMobile {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}/*# sourceMappingURL=classesProfessional.css.map */