@font-face {
  font-family: "Avenir";
  src: url(/fonts/Avenir/Avenir\ Regular.ttf) format("truetype");
}
@font-face {
  font-family: "WhiteFlower";
  src: url(/fonts/WhiteFlower/WhiteFlower.otf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #F8F6F4;
  z-index: 990;
}
header nav .navbar {
  padding: 1rem;
  transition: padding 1.5s ease;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar li {
  width: 100%;
  text-align: center;
}
header nav .navbar li a {
  text-decoration: none;
  padding: 0 1rem;
}
header nav .navbar li a p {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}
header nav .navbar li a p:not(.classes) {
  border-right: 1px #725A58 solid;
}
header nav .navbar li a p, header nav .navbar li a i {
  font-size: 20px;
  color: #725A58;
}
header nav .logo {
  max-inline-size: 100%;
  block-size: auto;
  background-position: center;
  height: 150px;
  transition: height 0.5s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #F8F6F4;
  display: none;
  transition: display 2s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}
.sidebar li {
  width: 100%;
}
.sidebar li:hover {
  background-color: #E3B6B1;
  transition: background-color 0.5s ease;
}
.sidebar li a {
  text-decoration: none;
  padding: 0 1rem;
  width: 100%;
}
.sidebar li a p {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}
.sidebar li a p, .sidebar li a i {
  font-size: 20px;
  color: #725A58;
}

.smallNavBar {
  padding: 0.5rem 1rem;
  transition: padding 1.5s ease;
}
.smallNavBar .logo {
  height: 80px;
  transition: height 1.5s ease;
  background-size: contain;
}
.smallNavBar .logo img {
  height: 80px;
}

.showonMobile, .opentagSB {
  display: none;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1 {
  color: #A06D67;
  font-family: "Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 8px;
}

.classes-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.classes-full .classes-welcome {
  margin: 3rem 0;
  min-width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .classes-full .classes-welcome {
    width: 80%;
  }
}
.classes-full .classes-welcome hr {
  height: 1px;
  border: 1px solid #E3B6B1;
  width: 20%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .classes-full .classes-welcome hr {
    width: 100%;
  }
}
.classes-full .classes-info-container {
  background-color: #FAE9E7;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.classes-full .classes-info-container .classes-info {
  margin: 3rem 0;
  width: 60%;
}
.classes-full .classes-info-container .classes-info .detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "img info";
  margin-bottom: 10rem;
}
.classes-full .classes-info-container .classes-info .detail .img1, .classes-full .classes-info-container .classes-info .detail .img2, .classes-full .classes-info-container .classes-info .detail .img3 {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}
.classes-full .classes-info-container .classes-info .detail .information {
  grid-area: info;
  padding-left: 2rem;
}
.classes-full .classes-info-container .classes-info .detail .information .body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.classes-full .classes-info-container .classes-info .detail .information .info-header {
  font-size: 28px;
  color: #A06D67;
  margin-bottom: 2rem;
}
.classes-full .classes-info-container .classes-info .detail .information .price-time-target {
  display: flex;
  margin-bottom: 2rem;
}
.classes-full .classes-info-container .classes-info .detail .information .price-time-target .icon {
  display: flex;
}
.classes-full .classes-info-container .classes-info .detail .information .price-time-target .icon img {
  width: 15px;
  margin-right: 0.5rem;
}
.classes-full .classes-info-container .classes-info .detail .information .price-time-target .icon .body {
  margin-right: 0.8rem;
}
.classes-full .classes-info-container .classes-info .detail .information .who {
  margin-bottom: 2rem;
}
.classes-full .classes-info-container .classes-info .detail .information .who .who-header {
  margin-bottom: 0.8rem;
  font-size: 20px !important;
}
.classes-full .classes-info-container .classes-info .detail .information .curriculum {
  margin-bottom: 1rem;
}
.classes-full .classes-info-container .classes-info .detail .information .curriculum .curri-header {
  margin-bottom: 0.8rem;
  font-size: 20px !important;
}
.classes-full .classes-info-container .classes-info .detail .information .curriculum li {
  margin: 0.5rem 0;
  margin-left: 2rem;
}
.classes-full .classes-info-container .classes-info .detail .information .button {
  margin-top: 4rem;
}
.classes-full .classes-info-container .classes-info .detail .information .button a {
  font-size: 18px;
  color: #5E4A49;
  padding: 1.5rem 2.5rem;
  border: 1px solid #5E4A49;
}
.classes-full .classes-info-container .classes-info .detail .information .button a:hover {
  background-color: #B99692;
  border: 1px solid #B99692;
  color: white;
  cursor: pointer;
}

.IconsContainer {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: auto;
  padding-top: 15px;
}
.IconsContainer .footerParagraph {
  font-size: 14px;
  margin: 3px 0;
}
.IconsContainer .ContactIcons {
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.FooterNavContainer {
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .FooterNavContainer {
    width: 95%;
  }
  .FooterNavContainer .FooterNavList {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 601px) {
  .FooterNavContainer {
    width: 80%;
  }
  .FooterNavContainer .FooterNavList {
    display: flex;
    justify-content: space-around;
  }
}
.FooterNavContainer .FooterNav {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
.FooterNavContainer .FooterNav .FooterNavList {
  list-style: none;
  font-size: 20px;
  padding: 15px 0;
}
.FooterNavContainer .FooterNav .FooterNavList .FooterNavListStyle1 {
  font-family: "Baskervville SC", serif;
  text-decoration: none;
  color: black;
}
.FooterNavContainer .FooterNav .FooterNavList .FooterNavListStyle2 {
  color: black;
}

.Copyright {
  text-align: center;
  margin: 25px 0 40px 0;
}

@media only screen and (max-width: 800px) {
  .showonMobile, .opentagSB {
    display: block;
  }
  .hideonMobile {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

/*# sourceMappingURL=classes.css.map */
