@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir/AvenirRegular.ttf) format("truetype");
}
@font-face {
  font-family: "Whiteflower";
  src: url(../fonts/WhiteFlower/WhiteFlower.otf) format("opentype");
}
@font-face {
  font-family: "Magenta";
  src: url(../fonts/magenta-2/MagentaDemo.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #f8f6f4;
}
header nav .navbar {
  padding: 1rem;
  transition: padding 1.5s ease;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar li {
  width: 100%;
  text-align: center;
}
header nav .navbar li a {
  text-decoration: none;
  padding: 0 1rem;
}
header nav .navbar li a p {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}
header nav .navbar li a p:not(.classes) {
  border-right: 1px #725a58 solid;
}
header nav .navbar li a p,
header nav .navbar li a i {
  font-size: 20px;
  color: #725a58;
}
header nav .logo {
  max-inline-size: 100%;
  block-size: auto;
  background-position: center;
  height: 150px;
  transition: height 0.5s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #f8f6f4;
  display: none;
  transition: display 2s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}
.sidebar li {
  width: 100%;
}
.sidebar li:hover {
  background-color: #e3b6b1;
  transition: background-color 0.5s ease;
}
.sidebar li a {
  text-decoration: none;
  padding: 0 1rem;
  width: 100%;
}
.sidebar li a p {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}
.sidebar li a p,
.sidebar li a i {
  font-size: 20px;
  color: #725a58;
}

.smallNavBar {
  padding: 0.5rem 1rem;
  transition: padding 1.5s ease;
}
.smallNavBar .logo {
  height: 80px;
  transition: height 1.5s ease;
  background-size: contain;
}
.smallNavBar .logo img {
  height: 80px;
}

.showonMobile,
.opentagSB {
  display: none;
}

.mainPicSection .mainPicContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f6f4;
  position: relative;
  z-index: -1;
}
.mainPicSection .mainPicContainer #MainPic {
  position: absolute;
  height: 100%;
}
.mainPicSection .mainPicContainer #mainSentenceContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  bottom: 10%;
}
.mainPicSection .mainPicContainer #mainSentenceContainer h1 {
  font-family: "Magenta";
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: #f8f6f4;
}
.mainPicSection .mainPicContainer #mainSentenceContainer p {
  font-family: "Avenir", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #f8f6f4;
  margin-top: 1rem;
}
.mainPicSection .mainPicContainer #mainSentenceContainer button {
  padding: 20px 20px;
  width: 230px;
  background-color: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #f8f6f4;
  font-family: "Baskervville", serif;
  font-size: 20px;
  margin-top: 1.5rem;
}
.mainPicSection .mainPicContainer #mainSentenceContainer button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #191919;
  transition: 1s;
}

.starSection {
  padding: 2rem 0;
  background-color: #fae9e7;
}
.starSection .headerSec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.starSection .headerSec .titleStar {
  padding: 1rem;
}
.starSection .headerSec .titleStar h1 {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: #5e4a49;
}
.starSection .headerSec span {
  border: 1px #e3b6b1 solid;
  width: 200px;
  margin-bottom: 1.5rem;
}
.starSection .headerSec .messageStar {
  width: 40%;
  text-align: center;
  margin: 1rem 0;
}
.starSection .headerSec .messageStar p {
  font-family: "Avenir", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #191919;
}
.starSection .headerSec .starsecBtn {
  margin: 1rem 0;
}
.starSection .headerSec .starsecBtn .btnStar {
  padding: 1rem 2rem;
  background-color: transparent;
  border: 0.5px solid #5e4a49;
  cursor: pointer;
}
.starSection .headerSec .starsecBtn .btnStar p {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.starSection .headerSec .starsecBtn .btnStar:hover {
  background-color: #b99692;
  border: 1px solid #b99692;
  color: white;
}
.starSection .photoSec {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  height: 400px;
  margin: 4rem 0;
}
.starSection .photoSec .photo {
  flex: 1;
  width: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-inline-size: 100%;
  block-size: auto;
  background-position: center;
}
.starSection .photoSec .photo.firstpic {
  background-image: url(../resources/landing/1.png);
}
.starSection .photoSec .photo.secondpic {
  background-image: url(../resources/landing/2.png);
}
.starSection .photoSec .photo.thirdpic {
  background-image: url(../resources/landing/3.png);
}
.starSection .photoSec .photo.fourthpic {
  background-image: url(../resources/landing/4.png);
}
.starSection .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.starSection .testimonials .icon {
  padding: 1rem;
}
.starSection .testimonials .singleTest {
  width: 57%;
  text-align: center;
  padding: 1rem 0;
}
.starSection .testimonials .singleTest p {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}
.starSection .testimonials .testName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 350px;
}
.starSection .testimonials .testName .name p {
  font-family: "Magenta";
  font-size: 54px;
}
.starSection .hbutton {
  color: #5e4a49;
  font-family: "Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
}

.formMainContainer .form-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 4rem;
}
.formMainContainer .form-services h1 {
  font-family: "Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 5px;
  color: #5e4a49;
}
.formMainContainer .form-services h5 {
  font-family: "Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
}
.formMainContainer .form-services .hbutton {
  color: #5e4a49;
  font-family: "Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
}
.formMainContainer .form-services .text-body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.formMainContainer .form-services .contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  width: 40%;
}
.formMainContainer .form-services .contact-us h1 {
  margin-bottom: 1rem;
  text-align: center;
}
.formMainContainer .form-services .contact-us p {
  text-align: center;
  padding: 0 3rem;
}
.formMainContainer .form-services .form-services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: #fae9e7;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .formMainContainer .form-services .form-services-container {
    width: 90%;
  }
}
.formMainContainer .form-services .form-services-container .form-header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  cursor: pointer;
}
.formMainContainer .form-services .form-services-container .form-header .header-opt {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid black;
}
.formMainContainer .form-services .form-services-container .form-header .blur {
  color: gray;
  border-bottom: 0.5px solid gray;
}
.formMainContainer .form-services .form-services-container .form-option-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-event-options {
  width: 100%;
  margin-bottom: 2rem;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-event-options .header-type {
  margin-bottom: 1rem;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-event-options .event-opts {
  max-width: 100%;
  min-width: 70%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .formMainContainer .form-services .form-services-container .form-option-container .form-event-options .event-opts {
    flex-direction: column;
  }
}
.formMainContainer .form-services .form-services-container .form-option-container .form-event-options .event-opts .eve-options {
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .formMainContainer .form-services .form-services-container .form-option-container .form-event-options .event-opts .eve-options {
    width: 100%;
    margin: 0.5rem;
  }
}
.formMainContainer .form-services .form-services-container .form-option-container .form-event-options .event-opts .eve-options img {
  width: 20px;
  height: 20px;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-event-options .event-opts .eve-options .hide {
  visibility: hidden;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options {
    flex-direction: column;
    gap: 1rem;
  }
}
.formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options .fr100 {
  width: 100% !important;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options .fr {
  width: 46%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options .fr {
    width: 100%;
  }
}
.formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options .fr .input-event {
  padding: 8px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options .fr .input-event:focus {
  outline: none;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options .fr .checked {
  display: flex;
  align-items: center;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options .fr .checked .check-event {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
  accent-color: #b99692;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options .fr .checked label {
  padding-left: 5px;
}
.formMainContainer .form-services .form-services-container .form-option-container .form-date-time-options .hdr {
  margin-bottom: 1rem;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .contact-form-name {
  margin-bottom: 1rem;
  font-family: "Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .input-name {
  padding: 8px;
  margin-bottom: 2rem;
  border: 1px solid #b99692;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .input-name:focus {
  outline: none;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .contact-header {
  margin-bottom: 1rem;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .phone-opt {
  display: block;
  margin: 0.5rem 0;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .phone-opt .hide {
  display: none;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .contact-form-phone {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .contact-form-phone .label-opt {
  display: flex;
  align-items: center;
  gap: 10px;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .contact-form-phone .label-opt .input-color {
  accent-color: #b99692;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .contact-form-phone .inpt {
  width: 100%;
  padding: 8px;
  margin-top: 0.5rem;
  border: 1px solid #b99692;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .contact-form-phone .inpt:focus {
  outline: none;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .time-call-header {
  margin-bottom: 1rem;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .form-time-call {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .form-time-call .time-opt {
  display: flex;
  align-items: center;
  gap: 10px;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .form-time-call .time-opt .label-time-opt {
  margin: 0.5rem 0;
}
.formMainContainer .form-services .form-services-container .form-option-container .contact-form .form-time-call .time-opt .input-color {
  accent-color: #b99692;
}
.formMainContainer .form-services .form-services-container .form-option-container .button-next {
  padding: 20px 40px;
  width: 160px;
  background-color: transparent;
  border: 0.5px solid #5e4a49;
  cursor: pointer;
}
.formMainContainer .form-services .form-services-container .form-option-container .button-next:hover {
  background-color: #b99692;
  border: 1px solid #b99692;
  color: white;
}

.message {
  margin-top: 1rem;
  width: 100%;
}
.message #finalMessage {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 0.5rem;
}
.message #finalMessage::placeholder {
  font-family: "Avenir", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #a3a3a3;
}

.submitButton {
  display: flex;
  justify-content: center;
}
.submitButton input {
  border: 1px #725a58 solid;
  width: 100px;
  height: 50px;
  background-color: #fae9e7;
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #191919;
  cursor: pointer;
}
.submitButton input:hover {
  background-color: #b99692;
}

#side_bar_message_container {
  position: fixed;
  right: 0%;
  bottom: 15%;
}
#side_bar_message_container .message_button {
  background-color: #b99692;
  padding: 0.5rem;
  border: none;
}
#side_bar_message_container .button_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  opacity: 70%;
}
#side_bar_message_container .button_container .instagram_button {
  background-color: #c13ed4;
  padding: 0.5rem;
  border: none;
}
#side_bar_message_container .button_container .call_button {
  background-color: #6aa2ba;
  padding: 0.5rem;
  border: none;
}
#side_bar_message_container .button_container .whatsapp_button {
  background-color: #25d366;
  padding: 0.5rem;
  border: none;
}
#side_bar_message_container .button_container .close_button {
  background-color: #191919;
  padding: 0.5rem;
  border: none;
}

.display_none {
  display: none !important;
}

.IconsContainer {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: auto;
  padding-top: 15px;
}
.IconsContainer .footerParagraph {
  font-size: 14px;
  margin: 3px 0;
}
.IconsContainer .ContactIcons {
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.FooterNavContainer {
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .FooterNavContainer {
    width: 95%;
  }
  .FooterNavContainer .FooterNavList {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 601px) {
  .FooterNavContainer {
    width: 80%;
  }
  .FooterNavContainer .FooterNavList {
    display: flex;
    justify-content: space-around;
  }
}
.FooterNavContainer .FooterNav {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
.FooterNavContainer .FooterNav .FooterNavList {
  list-style: none;
  font-size: 20px;
  padding: 15px 0;
}
.FooterNavContainer .FooterNav .FooterNavList .FooterNavListStyle1 {
  font-family: "Baskervville", serif;
  text-decoration: none;
  color: black;
}
.FooterNavContainer .FooterNav .FooterNavList .FooterNavListStyle2 {
  color: black;
}

.Copyright {
  text-align: center;
  margin: 25px 0 40px 0;
}

@media only screen and (max-width: 800px) {
  .showonMobile,
  .opentagSB {
    display: block;
  }
  .hideonMobile {
    display: none;
  }
  .starSection .headerSec .titleStar h1 {
    font-size: 48px;
  }
  .starSection .headerSec .messageStar {
    width: 50%;
  }
  .starSection .headerSec .messageStar p {
    font-size: 16px;
  }
  .starSection .photoSec {
    flex-wrap: wrap;
    height: 620px;
    margin: 2rem 0;
  }
  .starSection .photoSec .photo {
    width: 49%;
    height: 300px;
    flex: none;
  }
  .starSection .testimonials .singleTest {
    width: 90%;
  }
  .starSection .testimonials .singleTest p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
  .starSection .headerSec .titleStar {
    text-align: center;
  }
  .starSection .headerSec .titleStar h1 {
    font-size: 36px;
  }
  .starSection .headerSec .messageStar {
    width: 90%;
  }
  .starSection .photoSec .photo {
    width: 45%;
  }
  .starSection .testimonials .singleTest p {
    font-size: 18px;
  }
}
.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}

/*# sourceMappingURL=landing.css.map */
