@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir/AvenirRegular.ttf) format("truetype");
}
@font-face {
  font-family: "Whiteflower";
  src: url(../fonts/WhiteFlower/WhiteFlower.otf) format("opentype");
}
@font-face {
  font-family: "Magenta";
  src: url(../fonts/magenta-2/MagentaDemo.ttf) format("truetype");
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #fbfafa;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #f8f6f4;
  z-index: 990;
}
header nav .navbar {
  padding: 1rem;
  transition: padding 1.5s ease;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar li {
  width: 100%;
  text-align: center;
}
header nav .navbar li a {
  text-decoration: none;
  padding: 0 1rem;
}
header nav .navbar li a p {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}
header nav .navbar li a p:not(.classes) {
  border-right: 1px #725a58 solid;
}
header nav .navbar li a p,
header nav .navbar li a i {
  font-size: 20px;
  color: #725a58;
}
header nav .logo {
  max-inline-size: 100%;
  block-size: auto;
  background-position: center;
  height: 150px;
  transition: height 0.5s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #f8f6f4;
  display: none;
  transition: display 2s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}
.sidebar li {
  width: 100%;
}
.sidebar li:hover {
  background-color: #e3b6b1;
  transition: background-color 0.5s ease;
}
.sidebar li a {
  text-decoration: none;
  padding: 0 1rem;
  width: 100%;
}
.sidebar li a p {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}
.sidebar li a p,
.sidebar li a i {
  font-size: 20px;
  color: #725a58;
}

.smallNavBar {
  padding: 0.5rem 1rem;
  transition: padding 1.5s ease;
}
.smallNavBar .logo {
  height: 80px;
  transition: height 1.5s ease;
  background-size: contain;
}
.smallNavBar .logo img {
  height: 80px;
}

.showonMobile,
.opentagSB {
  display: none;
}

main h1 {
  color: #a06d67;
  font-family: "Baskerville", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 8px;
}
main h5 {
  font-size: 32px;
  color: #a06d67;
  font-family: "Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 5px;
}
main .CostInfo {
  font-family: "Avenir", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #191919;
}
main .Subtitle {
  font-family: "Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #191919;
  margin-top: 3px;
}
main .CommonText {
  font-family: "Avenir", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #191919;
  margin-top: 3px;
}
main .InlineBlock {
  display: inline-block;
}
main .S_title {
  text-align: center;
}
main .S_title .pContainer {
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
}
main .S_title .ForUnderbar {
  width: 200px;
  border-top: #e3b6b1 solid 1px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
main .S_Outer {
  width: 100%;
  min-height: 70vh;
  background-color: #fae9e7;
  margin-bottom: 1rem;
}
main .S_Outer .S_Container {
  width: 750px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "Pic1 Text1" "Pic2 Text2" "Pic3 Text3";
  margin: 5rem auto;
  gap: 30px;
}
main .S_Outer .S_Container #Lady1 {
  grid-area: Pic1;
  max-width: 240px;
}
main .S_Outer .S_Container #Lady2 {
  grid-area: Pic2;
  max-width: 240px;
}
main .S_Outer .S_Container #Lady3 {
  grid-area: Pic3;
  max-width: 240px;
}
main .S_Outer .S_Container button {
  grid-area: A-button;
  padding: 10px 0px;
  width: 160px;
  height: 50px;
  background-color: transparent;
  border: 0.5px solid #a3a3a3;
  cursor: pointer;
  color: #535353;
  font-family: "Baskervville", serif;
  font-size: 20px;
  align-self: center;
  margin-top: 10px;
}
main .S_Outer .S_Container button:hover {
  background-color: #b99692;
  border: 1px solid #b99692;
  color: #f8f6f4;
}

.IconsContainer {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: auto;
  padding-top: 15px;
}
.IconsContainer .footerParagraph {
  font-size: 14px;
  margin: 3px 0;
}
.IconsContainer .ContactIcons {
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.FooterNavContainer {
  width: 80%;
  margin: auto;
}
.FooterNavContainer .FooterNav {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
.FooterNavContainer .FooterNav .FooterNavList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 15px 0;
}
.FooterNavContainer .FooterNav .FooterNavList .FooterNavListStyle1 {
  font-family: "Baskervville", serif;
  text-decoration: none;
  color: #725a58;
}
.FooterNavContainer .FooterNav .FooterNavList .FooterNavListStyle2 {
  font-family: "Baskervville", serif;
  text-decoration: none;
  color: #725a58;
}

.Copyright {
  text-align: center;
  margin: 25px 0 40px 0;
}

@media only screen and (max-width: 768px) {
  .showonMobile,
  .opentagSB {
    display: block;
  }
  .hideonMobile {
    display: none;
  }
  .AboutMeContainer {
    display: flex !important;
    flex-direction: column-reverse !important;
    width: 80% !important;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .AboutMeContainer .AboutText {
    grid-template-columns: 1fr !important;
    grid-template-areas: "Logo" "h3Text" "pText" " signature" "A-button" !important;
  }
  .AboutMeContainer .AboutText img {
    margin: auto;
    margin-bottom: 1rem;
  }
  .AboutMeContainer .AboutText .h3Title {
    margin-bottom: 1rem;
  }
  .AboutMeContainer .AboutText p {
    margin-bottom: 2rem;
  }
  .AboutMeContainer .AboutText .h3Signature {
    margin-bottom: 2rem;
    transform: rotate(0deg) !important;
  }
  .starSection .headerSec .titleStar h1 {
    font-size: 48px;
  }
  .starSection .headerSec .messageStar {
    width: 50%;
  }
  .starSection .headerSec .messageStar p {
    font-size: 16px;
  }
  .starSection .photoSec {
    flex-wrap: wrap;
    height: 620px;
    margin: 2rem 0;
  }
  .starSection .photoSec .photo {
    width: 49%;
    height: 300px;
    flex: none;
  }
  .starSection .testimonials .singleTest {
    width: 90%;
  }
  .starSection .testimonials .singleTest p {
    font-size: 24px;
  }
  .makeup_hairstyle {
    width: 100vw;
  }
  .makeup_hairstyle .headerSec .titleMH h1 {
    font-size: 48px;
  }
  .makeup_hairstyle .photoSec_MH {
    flex-direction: column;
    gap: 20px;
  }
  .makeup_hairstyle .photoSec_MH .photo {
    justify-content: center;
  }
  .makeup_hairstyle .photoSec_MH .photo.left, .makeup_hairstyle .photoSec_MH .photo.right {
    height: 500px;
    width: 380px;
  }
  .makeup_hairstyle .photoSec_MH .photo.mid {
    order: -1;
  }
  .makeup_hairstyle .photoSec_MH .photo p {
    transform: translateX(10%);
  }
  .makeup_hairstyle .photoSec_MH .photo p span {
    color: #fae9e7;
  }
  .makeup101 {
    height: auto;
  }
  .makeup101 .title h1 {
    font-size: 48px;
  }
  .makeup101 .mainContent {
    flex-direction: column;
    height: auto;
  }
  .makeup101 .mainContent .classes {
    gap: 50px;
  }
  .makeup101 .mainContent .classes .row {
    flex-direction: column;
  }
  .makeup101 .mainContent .classes .row .content {
    width: 100%;
    align-items: center;
    gap: 10px;
  }
  .makeup101 .mainContent .classes .row .content .classTitle {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .makeup101 .mainContent .classes .row .content .classTitle img {
    width: 50px;
    height: 50px;
  }
  .makeup101 .mainContent .classes .row .content .classTitle p {
    font-size: 36px;
  }
  .makeup101 .mainContent .classes .row .content .classInfo {
    width: 80%;
    text-align: center;
  }
  .makeup101 .mainContent .classes .row .content .classInfo p {
    font-size: 20px;
  }
  .makeup101 .mainContent .classes .row .arrow {
    width: 100%;
  }
  .makeup101 .mainContent .classes .row .arrow a {
    gap: 20px;
  }
  .makeup101 .mainContent .classes .row .arrow a p {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5e4a49;
  }
  .makeup101 .mainContent .classes .M101secBtn {
    width: 100%;
  }
  .makeup101 .mainContent .picContainer {
    height: 500px;
  }
  .DIY .DIY_Video {
    width: 90% !important;
  }
  .FooterNavContainer {
    width: 80% !important;
  }
  .FooterNavContainer .FooterNavList {
    height: 150px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    flex-wrap: wrap !important;
  }
}
@media only screen and (max-width: 480px) {
  .sidebar {
    width: 100%;
  }
  .AboutMeContainer {
    display: flex !important;
    flex-direction: column-reverse !important;
    width: 100% !important;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .AboutMeContainer .AboutText {
    grid-template-columns: 1fr !important;
    grid-template-areas: "Logo" "h3Text" "pText" " signature" "A-button" !important;
  }
  .AboutMeContainer .AboutText img {
    margin: auto;
    margin-bottom: 1rem;
  }
  .AboutMeContainer .AboutText .h3Title {
    font-size: 36px !important;
    margin-bottom: 1rem;
  }
  .AboutMeContainer .AboutText p {
    max-width: 80%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .AboutMeContainer .AboutText .h3Signature {
    margin-bottom: 2rem;
    transform: rotate(0deg) !important;
  }
  .OurBrands {
    width: 400px !important;
  }
  .starSection .headerSec .titleStar {
    text-align: center;
  }
  .starSection .headerSec .titleStar h1 {
    font-size: 36px;
  }
  .starSection .headerSec .messageStar {
    width: 90%;
  }
  .starSection .photoSec .photo {
    width: 45%;
  }
  .starSection .testimonials .singleTest p {
    font-size: 18px;
  }
  .makeup_hairstyle .headerSec .titleMH h1 {
    font-size: 36px;
  }
  .makeup_hairstyle .headerSec .messageMH {
    width: 90%;
  }
  .makeup101 {
    height: auto;
  }
  .makeup101 .title h1 {
    font-size: 36px;
  }
  .makeup101 .mainContent .classes {
    gap: 50px;
  }
  .makeup101 .mainContent .classes .row {
    gap: 10px;
  }
  .makeup101 .mainContent .classes .row .content .classTitle img {
    width: 30px;
    height: 30px;
  }
  .makeup101 .mainContent .classes .row .content .classTitle p {
    font-size: 24px;
  }
  .makeup101 .mainContent .classes .row .content .classInfo p {
    font-size: 18px;
  }
  .makeup101 .mainContent .picContainer {
    width: 100%;
    height: 500px;
  }
  .makeup101 .mainContent .picContainer .ladypicContainer {
    width: 100%;
    height: 100%;
  }
  body {
    overflow-x: hidden !important;
  }
  .DIY {
    min-height: 70vh !important;
    width: auto !important;
  }
  .DIY h3 {
    font-size: 32px !important;
  }
  .DIY .con .DIY_Video {
    width: 300% !important;
    max-height: 300px;
    display: flex !important;
    grid-template-areas: none;
    gap: 1.5rem !important;
    position: absolute !important;
    margin: auto;
    place-items: center;
    overflow-x: hidden !important;
  }
  .DIY .con .DIY_Video .img {
    width: 250px !important;
  }
  .DIY .con .DIY_Video .DIY_img1 {
    position: relative !important;
  }
  .DIY .con .DIY_Video .DIY_img2 {
    position: relative !important;
  }
  .DIY .con .DIY_Video .DIY_img3 {
    position: relative !important;
  }
  .DIY .con .DIY_Video .center {
    position: relative !important;
    left: -16% !important;
  }
  .DIY .con .DIY_Video .left {
    position: relative !important;
    left: 6% !important;
  }
  .DIY .con .DIY_Video .right {
    position: relative !important;
    left: -38% !important;
  }
  .DIY .con .DIY_Video .TL {
    transition: left 0.5s ease;
  }
  .DIY .ShiftLeft {
    transition: left 1s ease !important;
  }
  .DIY .DIY_Btn {
    padding-top: 40vh;
  }
  .FooterNavContainer {
    width: 100% !important;
  }
  .FooterNavContainer .FooterNavList {
    height: 150px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    flex-wrap: wrap !important;
  }
}
.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}

/*# sourceMappingURL=service.css.map */
